@use 'design-tokens/src/lib' as *;
@use 'sass:map';

@import 'material-icons/iconfont/material-icons.css';

/* Global reset / base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-app;
  color: $text-primary;
  font-family: map.get($text-body, font-family);
  line-height: map.get($text-body, line-height);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.theme-dark {
  background-color: $dm-bg-app;
  color: $dm-text-primary;
}

button {
  min-height: 40px;
}
